events {}

http {
  client_max_body_size 6m;

  upstream webfoto_app { server app:3000; }

  server {
    listen 80;
    server_name foto.sekolah.sch.id;
    return 301 https://$host$request_uri;
  }

  server {
    listen 443 ssl http2;
    server_name foto.sekolah.sch.id;

    ssl_certificate /etc/nginx/certs/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    client_max_body_size 6m;

    location / {
      proxy_pass http://webfoto_app;
      proxy_http_version 1.1;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto https;
      proxy_read_timeout 120s;
    }
  }
}
